.cart-title {
  color: rgb(204, 204, 204);
  font-weight: 200;
  font-style: italic;
  margin: 1rem auto;
}

.cart-content {
  color: black;
  font-size: 0.9rem;
  padding: 1rem;
}

.cart-buttons > button {
  margin: 1rem auto;
  background: rgb(243, 165, 21) !important;
  text-transform: capitalize !important;
  font-family: "Prata", serif !important;
  letter-spacing: 1px !important;
}

.empty-cart-img {
  margin: 3rem auto;
}

.empty-cart {
  margin: 1rem auto;
  font-style: italic;
  font-size: 1.1rem;
  padding: 1rem;
  color: lightgrey;
}

.cart-details {
  letter-spacing: 1px;
  transform: translateY(-2rem);
}
